/* Full page formatting */

.mainpg-wrap {
    width: 100%;
    margin: 0 auto;
    background: black;
}

.pgwrapper-backgrnd {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(https://cdn.discordapp.com/attachments/677255897134792748/715887091891830844/Anime-Landscape-Backgrounds.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 16px;
}

body {
    -ms-overflow-style: none; /* Hide scrollbars for IE and Edge*/
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

/* Title Formatting */

.animecentral-title {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    opacity: 70%;
}

.animecentral-title h1 {
    color: white;
    margin: 0;
}

/* General Text Formatting */

.placeholder-txt {
    color: white;
}

/* Button Formatting */

.btn {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
}

.home-btn {
    background-color: white; 
    color: black; 
    border: 2px solid red;
}

.home-btn:hover {
    background-color: red;
    color: white;
}

.hot-btn {
    background-color: white; 
    color: black; 
    border: 2px solid orange;
}

.hot-btn:hover {
    background-color: orange;
    color: white;
}

.recent-btn {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(0, 255, 255);
}

.recent-btn:hover {
    background-color: rgb(0, 255, 255);
    color: white;
}

.wiki-btn {
    background-color: white; 
    color: black; 
    border: 2px solid green;
}

.wiki-btn:hover {
    background-color: green;
    color: white;
}

.help-btn {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
}

.help-btn:hover {
    background-color: blue;
    color: white;
}

.about-btn {
    background-color: white; 
    color: black; 
    border: 2px solid indigo;
}

.about-btn:hover {
    background-color: indigo;
    color: white;
}

.extras-btn {
    background-color: white; 
    color: black; 
    border: 2px solid violet;
}

.extras-btn:hover {
    background-color: violet;
    color: white;
}

.nav-bar {
    overflow: hidden;
}
