html{
    /* background-color: black; */
}

form {
    margin-bottom: 1em;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size:30pt;
    /* float: left; */
    text-decoration: white;
}

h2 {
    opacity: 0;
}
aside {
    /* float: right; */
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
}

header {
    background-image: url(https://i.pinimg.com/originals/3a/fc/fc/3afcfcafb55d99e30d9a7ffab4ed96c7.jpg);
    height:500px ;
    width: 100%;
}

.link {
    border: 5px outset rgb(250, 188, 72);
    background-color: rgb(250, 188, 72);
    text-align: end;
    /* float: left; */
    width: 150px ;
    text-align: center;
}
.link:hover{
    opacity: 0.5;
}

footer p {
    text-align: center;
    font-size: smaller;
}

article {
    border: solid grey 1px;
    background-color: white;
}

html {
   min-width: 700px;
   max-width: 1000px;
}

nav {
    background-image: url();
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    width: 100%;    
}

section{
    border: solid gray 5px;
    width: 60%;
    background-color: white;
    margin-bottom: 30px;
}

nav p{
    margin-top: 100px;
    margin-bottom: 50px;
    border: 3px, solid , grey ;
}
.subtitle{
    width: 700px;   
    margin-right: auto;
    opacity: 1;
}
